body
{
	margin: 0;
	background-color: #ffffff;
	color: #efefef;
	font-family: 'Audiowide', 'Times New Roman', cursive;
    font-size: 17px;
}

html 
{
    scroll-behavior: smooth;
}

:root {
    --mainColor: #434859 !important;
}

.navbar
{
	min-height: 57px;
	border-bottom: 1px solid black;
}

.bg-nav
{
	background-color: var(--mainColor);
	-webkit-box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.36);
	-moz-box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.36);
	box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.36);
}

.eng
{
	text-align: center;
	margin-bottom: 30px;
	font-size: 20px;
	color: var(--mainColor);
}

.photo
{
	margin-bottom: 10px;
	margin-top: 10px;
}

.photoFeatures
{
	padding: 60px;
}

.center
{
	text-align: center;
	margin-top: 40px;
}

.text
{
	text-align: center;
}

.buttonStyle
{
	-webkit-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.64);
	-moz-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.64);
	box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.64);	
	margin: 30px 10px 1px 10px;
	width: 100%;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	opacity: 0.7;
}

.bg-footer
{
	background-color: var(--mainColor);
	border-top: 1px solid black;
	-webkit-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.64);
	-moz-box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.64);
	box-shadow: inset 0px 0px 8px 2px rgba(0,0,0,0.64);	
}

.portfolio
{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 70px;
	font-size: 46px;
	color: var(--mainColor);	
}

.aboutMe
{
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
	font-size: 46px;
	color: var(--mainColor);	
}

.projectName
{
	text-align: center;
	margin-top: 70px;
	margin-bottom: 70px;
	font-size: 46px;
	color: var(--mainColor);	
}

.contact
{
	text-align: center;
	margin-bottom: 70px;
	margin-top: 70px;
	font-size: 46px;
	color: var(--mainColor);	
}

.contactProject
{
	text-align: center;
	margin-bottom: 70px;
	margin-top: 10px;
	font-size: 46px;
	color: var(--mainColor);	
}


.aboutMeText
{
	margin: 0px 60px 10px 60px;/*g,p,d,l*/
	color: var(--mainColor);
	font-size: 17px;
	text-align: justify;
}

.textInCard
{
	color: var(--mainColor);	
}

.project
{
	
	border: 1px solid #b8babf;
	position: relative;
}

.seeText
{
	position: absolute;
	color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
	margin-bottom: 23%;
	text-shadow: 2px 3px 4px #000000;
}

.photoProject
{
    width: 100%;
	height: 100%;
}

.boxText
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.photoProject:hover .boxText{
	transition: opacity 1.0s ease-in-out;
	opacity: 1;
}

.project2
{
	opacity: 1;
    transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.project2:hover
{
	opacity: 0.6;
}

.project3
{
	background-color: #efefef;
	color: var(--mainColor);
	text-align: center;
	padding: 40px;
}

.contactIcon
{
	color: var(--mainColor);
	text-align: center;
	font-size: 50px;
	margin-bottom: 10px;
}

.contactText
{
	color: var(--mainColor);
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}

.contactText a
{
	color: var(--mainColor);
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}

.contactBox
{
	border: 1px solid #b8babf;
	background-color: #efefef;
	padding: 40px 0;
	transition: transform 0.5s ease-in-out;
}

.contactBox:hover
{
	-webkit-transform: scale(1.04);
	-ms-transform: scale(1.04);
	transform: scale(1.04);
}

.contactBigBox
{
	margin-bottom: 70px;
}

.projectCompetitions
{
	text-align: left;
	padding: 40px 0px 20px 40px;
}

.myProjects
{
	background-color: #efefef;
	color: var(--mainColor);
	margin-bottom: 60px;
	border: 1px solid #b8babf;
}

.projectPhoto
{
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.boxText2
{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.seeText2
{
	position: absolute;
	color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
	margin-bottom: 40%;
	text-shadow: 2px 3px 4px #000000;
}

.projectPhoto:hover .boxText2{
	transition: opacity 1.0s ease-in-out;
	opacity: 1;
}

.projectPhoto img 
{
	width: 100%;
    height: 100%;
	transition: transform 0.5s ease-in-out;
}

.projectPhoto:hover img
{
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}

.detailIcon
{
	font-size: 26px;
	padding: 16px;
}

.projectLine
{
	margin-left: 15px;
}

@media only screen and (max-width: 960px) 
{
  .aboutMeText
  {
	font-size: 16px;
	text-align: center;
   }
  
  .project
  {
	border: 1px solid #b8babf;
	position: relative;
	margin-bottom: 30px;
  }
  
  .contact
  {
	margin-top: 40px;
  }
  
  .projectName
  {
	font-size: 40px;
  } 
  
  .projectCompetitions
  {
	text-align: center;
	padding: 40px 30px 20px 30px;
  }
  
  .detailIcon
  {
	font-size: 21px;
	padding: 14px;
  }
  
  .projectLine
  {
	margin-left: 8px;
  }
  
  .photoFeatures
  {
	padding: 20px 60px 20px 60px;
  }
}




